<!DOCTYPE html>
<html lang='en'>

<head>
  <!--Settings-->
  <meta charset="utf-8">

  <!--Title and icon-->
  <link rel='icon' href=''>
  <title>CSGG</title>

  <!--CSS and fonts-->
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css' rel='stylesheet'>


  <!--Scripts-->
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js'></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
  <script src='/javascripts/angularApp.js'></script>
</head>
<body ng-app='counters'>
  <div class='container'>
    <!--Top navbar-->
    <nav class='navbar navbar-inverse' ng-controller='MainCtrl'>
      <!--Collapsable navbar-->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--Title on navbar-->
          <a class="navbar-brand" href="#/home"><strong>CSGG v0.4a</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--Navbar button list-->
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/home')}"><a style='font-family: Lato; font-weight: 400;' href="#/home">Champion list</a></li>
            <li ng-class="{ active: isActive('/about')}"><a style='font-family: Lato; font-weight: 400;' href="#/about">About</a></li>
          </ul>
          <!--Navbar fact information right-->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text"><strong>Matchups analysed: </strong>{{ matchupsAnalysed }}</p>
            </li>
            <li>
              <p class="navbar-text"><strong>Patch: </strong>5.11</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <ui-view></ui-view>
  </div>
  <script type='text/ng-template' id='/home.html'>
    <!--Search panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <!--Search bar-->
              <input type="text" class="form-control" placeholder='Search for champion..' ng-model="searchBox" aria-label="...">
              <span class='input-group-btn'>
                <button class="btn btn-success" type="button">Go</button>
              </span
            </div>
          </div>
        </div>
      </div>
      <!--Population of search panel-->
      <div class='panel-body'>
        <!--Row of thumbnails-->
        <div class='row'>
          <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 main-row"  style='padding-bottom: 20px;' ng-repeat="object in champData | filter:searchBox">
            <!--Singular thumbnail-->
            <a ng-href="#/counters/{{ object.id }}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ object.key }}.png" class="img-rounded img-responsive main-thumbnail"></a>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type='text/ng-template' id='/counters.html'>
  <div class='jumbotron ng-cloak'>
    <h1 style='font-size: 20px; font-weight: 700;'><strong style='font-size: 63px'>{{ getObj(cid).name }}</strong> {{  getObj(cid).title }}</h1>
    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ getObj(cid).key }}.png" class="img-responsive img-rounded"></a>
    <span ng-click='changeRole(srole)' class="label label-primary">{{ prole }}</span>
    <span ng-click='console.log(srole)' class="label label-success">{{ srole }}</span>
  </div>
    <uib-tabset active="active">
      <uib-tab index="0" heading="{{ getObj(cid).name }} is weaker against">
        <div class="row" ng-repeat="matchup in weakAgainst">
          <div class='col-lg-12'>
            <div class='panel well'>
              <a ng-href='#/counters/{{ matchup.cid1 }}'><img class='img-rounded' style='height: 50px; width: 50px;' ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ getObj(matchup.cid1).key }}.png"/> </a> 
              <a class='pull-right' ng-href='#/counters/{{ matchup.cid2 }}'><img class='img-rounded' style='height: 50px; width: 50px;' ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ getObj(matchup.cid2).key }}.png" /> </a> 
              <label>{{ getObj(matchup.cid1).name }}</label>
              <label class='pull-right' style='padding-top: 15px; padding-right: 5px;'>{{ getObj(matchup.cid2).name }}</label>
              <div class='panel'>
              <img class='item img-rounded' ng-repeat='item in matchup.c1items' style='height: 34px; width: 34px; padding: 2px;' ng-src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/{{ item }}.png">
              <img class='item img-rounded pull-right' ng-repeat='item in matchup.c2items' style='height: 34px; width: 34px; padding: 2px;' ng-src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/{{ item }}.png">
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:{{ matchup.wr }}%">{{ matchup.wr }}%</div>
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:{{ 100 - matchup.wr }}%"></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="{{ getObj(cid).name }} is stronger against">
        <div class="row" ng-repeat="matchup in strongAgainst">
          <div class='col-lg-12'>
            <div class='panel well'>
              <a ng-href='#/counters/{{ matchup.cid1 }}'><img class='img-rounded' style='height: 50px; width: 50px;' src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ getObj(matchup.cid1).key }}.png"/> </a> 
              <a class='pull-right' ng-href='#/counters/{{ matchup.cid2 }}'><img class='img-rounded' style='height: 50px; width: 50px;' src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{ getObj(matchup.cid2).key }}.png" /> </a> 
              <label>{{ getObj(matchup.cid1).name }}</label>
              <label class='pull-right' style='padding-top: 15px; padding-right: 5px;'>{{ getObj(matchup.cid2).name }}</label>
              <div class='panel'>
                <img class='item img-rounded' ng-repeat='item in matchup.c1items' style='height: 34px; width: 34px; padding: 2px;' src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/{{ item }}.png">
                <img class='item img-rounded pull-right' ng-repeat='item in matchup.c2items' style='height: 34px; width: 34px; padding: 2px;' src="http://ddragon.leagueoflegends.com/cdn/6.11.1/img/item/{{ item }}.png">
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:{{ matchup.wr }}%">{{ matchup.wr }}%</div>
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:{{ 100 - matchup.wr }}%"></div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </script>
  <script type='text/ng-template' id='/about.html'>
    <div class='panel'>
      <h3>Collection</h3>
      <p>Data is collected by crawling through match histories of players on the ranked ladder, starting at the top. The match data is parsed and stored in a mongo database, this process is continuously happening and is reflected in the views on the website.</p>
      <h3>Frontend</h3>
      <p>The application is basically a full MEAN stack, with angularjs querying the database every time you load the page, in order to give accurate data. </p>
      <h3>Known bugs</h3>
      <ol>
        <li>Each record is one win off depending on which champion happened to have the first win - will be fixed in next data set</li>
        <li>Tabs don't show up properly</li>
        <li>Some results don't show because the champion has a low winrate or few games played</li>
      </ol>
      
   
    </div>
  </script>
  <!--Bootstrap-->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</body>

</html>